body {
  background-color: #333333;
}

a {
  color: red;
}

#flexAffiches{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#genreFilm {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}
#genreFilm div .label {
  margin: 5px;
}
.affiche {
  position: relative;
  margin: 15px;
}
.affiche .img {
  height: 325px;
  width: 220px;
  background-color: white;
  position: relative;
  padding: 5px;
}
.affiche .img.sansimage {
  height: 325px;
  width: 220px;
}
.affiche .img.sansimage p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: bold;
}
.introuvable
{
  text-align: center;
  line-height: 325px;
}
.titraffiche
{
  display: block;
  position: relative;
  margin: 0 auto 0;
  height: 325px;
  width: 220px;
}
.titraffiche img {
  position: relative;
  height: 325px;
  width: 220px;
}
.titrefilm
{
  font-size: 2.5em;
  text-align: center;
}
.detail
{
  margin-top: 20px;;
}
.detail, .synopsis
{
  text-align: center;
  position: relative;
}

#buttons {
  display: block;
  text-align: center;
}

.show {
  display: none;
}

/* ====================================================================== */
/* =========================== CSS FORMULAIRE =========================== */
/* ====================================================================== */

form.main {
  width: 90%;
  margin: auto;
  position: relative;
}
form.main.login {
  width: 53%;
  margin: 0;
}
form.main h1 {
  position: relative;
  margin: 5px 5px 5px 0;
  font-size: 1.5em;
  text-align: center;
}
form.main.login h1 {
  text-align: left;
}
form.main div {
  position: relative;
  display: flex;
  margin: 5px 5px 5px 0;
}
form.main .pform {
  font-style: italic;
  position: relative;
  margin-left: 14px;
}
form.main div .label {
  display: block;
  width: 350px;
  text-align: right;
}
form.main div.checkbox .input {
  margin-left: 14px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
form.main div.checkbox .input label {
  position: relative;
  width: 90%;
}
form.main div.checkbox .input input[type="checkbox"] {
  position: relative;
  width: 10%;
  top: 7px;
  left: -4%;
}
form.main div.mdpOublie p {
  margin-left: 10px;
}
form.main div.mdpOublie a , form.main div.mdpOublie a:visited {
  color: orange;
  text-decoration: underline dotted orange;
}
form.main div .input , form.main div textarea , form.main div select {
  margin-left: 14px;
}
form.main div .input {
  width: 50%;
}
form.main.login div .input {
  width: 30%;
}
form.main div textarea.input {
  width: 80.4%;
}
form.main div select {
  width: 80.5%;
}
form.main .erreur {
  color: red;
}
form.main div input[type="submit"] {
  display: block;
  width: 50.3%;
  height: 30px;
  background: lightcoral;
  padding: 0 2px 0 0;
  position: relative;
}
form.main.login div input[type="submit"] {
  width: 30.3%;
}
